# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env